.container {
  margin-left: 30%;
  margin-top: 10%;
  word-wrap: break-word;
  max-width: max-content;
  overflow-y:scroll; 
  height:400px;
  background-color:#e3ecf2;
  min-width: 450px;
  padding: 5px;

  
 
}
.footerPin {
  position: absolute;
  left: 30%;
  bottom: 10%;
  min-width: 600px;
  

}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom:20%
}


